body {
    margin-left: 33%;
    margin-right: 33%;
    background-color: rgb(241, 236, 229);
    margin-bottom: 10%;
    font-family:Helvetica;
}

.head {
    margin-top: 8%;

}

.section {
    border-radius:25px;
    padding: 20px;
    background-color: rgb(238, 223, 203);
    color: rgb(32, 22, 10);  
    margin: 20px;
}

.head,
.note {
    text-align: left;
}

.note {
    margin-bottom: 10px;
}

#logo {
    display: block;
    margin: auto;
}